body {
    background: url("Slide 16_9 - 5.jpg");
    font-family: Arial, sans-serif;
}

h1 {
    font-family: Arial, sans-serif;
    text-align: center;
    color: aqua;
    font-size: 30px;
}

h2 {
    font-family: Arial, sans-serif;
    text-align: center;
    color: black;
    font-size: 33px;
}

.button-container {
    margin-bottom: 20px;
}

.result {
    margin-top: 40px;
    font-weight: bold;
    font-size: 23px;
}

.hidden {
    display: none;
}

img {
    position: absolute;
    width: 500px;
    height: 240px;
    left: 400px;
    top: 145px;
}

button {
    /* отступы внутри кнопок */
    padding: 10px 20px; 
    /* размер шрифта */
    font-size: 16px;
    /* цвет фона */
    background-color: #0099FF;
    /* цвет текста */
    color: aliceblue;
    border: none;
    border-radius: 5px;
    /* курсор при наведении */
    cursor: pointer;
    /* переход цвета фона */
    transition: background-color 0.3s;
}

button:hover {
    /* цвет фона при наведении */
    background-color: #0056b3;
}

.button-container {
    display: flex;
    /* расстояние между кнопками */
    gap: 15px;
    justify-content: center;
    /* отступ сверху */
    margin-top: 300px;
}