/*Фон*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url("Slide 16_9 - 5.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Заголовок */
h1 {
    color: aqua;
    font-size: 50px;
    margin-top: 20px;
}
button h2 {
    margin-top: 10px;
    font-size: 1.5rem;
    color: white;
}

/* Контейнер для кнопок */
.selection {
    position: relative;
    flex: 1; /* Занимает оставшееся пространство */
}

/* Смешарики */
.preview1 {
    left: 20%; /* Расположение слева от экрана */
    top: 17%; /* Вертикальное расположение */
}
/* Не смешарики */
.preview2 {
    right: 24%; /* Расположение справа от экрана */
    top: 38%; /* Вертикальное расположение */
}
.preview2,
.preview1 {
    position: absolute;
    width: 300px;
    height: 300px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.preview2:hover,
.preview1:hover {
    transform: scale(1.1);
}

/* Превью */
.preview1 img,
.preview2 img {
    width: 100%;
    height: 100%;
    transform: scale(1.7);
    border-radius: 50%;
    object-fit: cover;
}

.preview1 h2,
.preview2 h2 {
    position: relative;
    color: white;
    font-size: 2.5rem;
    margin-top: 100px;
}